Source: lanshare-qt6
Section: net
Priority: optional
Maintainer: Néstor Amigo <tuemail@example.com>
Build-Depends: debhelper-compat (= 13), cmake, qt6-base-dev, qt6-tools-dev, qt6-l10n-tools
Standards-Version: 4.6.2
Homepage: https://github.com/NestorAmigo/LANShare-Qt6
Rules-Requires-Root: no

Package: lanshare-qt6
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: LANShare ported to Qt6
 A simple local network file transfer application ported to Qt6.2.
